@import "reset.css";

body {
	position: relative;
	background-color: var(--clr-background);
	min-height: 100dvh;
	font: var(--fs-base) / 1.5 "Roboto", sans-serif;
	color: var(--clr-text-main);
}

/* ||Dashboard Menu Opener */
.square-container {
	display: grid;
	gap: var(--space-xs);
	grid-template-areas:
		"square_1 square_2"
		"square_1 square_2"
		"square_1 square_3"
		"square_4 square_3"
		"square_4 square_3"
	;
	height: var(--space-xl);
	width: var(--space-xl);
}

.square {
	background-color: var(--clr-surface);

	&:nth-child(1) {
		grid-area: square_1;
	}

	&:nth-child(2) {
		grid-area: square_2;
	}

&:nth-child(3) {
		grid-area: square_3;
	}

	&:nth-child(4) {
		grid-area: square_4;
	}
}

/* ||SIDEBAR */
.sidebar-opener {
	background-color: var(--clr-primary);
	height: 8vh;
	margin-bottom: var(--space-xl);
	padding: var(--space-md);
}
.sidebar {
	height: 100%;
	padding: var(--space-lg);
	width: 100%;
}

.dashboard__title,
.menu__link {
	color: var(--clr-text-light);
	font-weight: bold;
}

.dashboard {
	display: flex;
	align-items: center;
	gap: var(--space-md);
	/* margin-bottom: calc(var(--space-xl) * 2); */
}

.dashboard__title {
	font-size: clamp(var(--fs-md), calc(0.898rem + 1.136vw), var(--fs-xl));
	user-select: none;
	cursor: pointer;
}

.menu {
	position: relative;
	padding: 0.25rem 0 0.25rem calc(var(--space-xl) * 1.5);
	user-select: none;
	cursor: pointer;

	&:not(:last-child) {
		margin-bottom: var(--space-sm);
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 95%;
		height: clamp(1.25rem, calc(0.909rem + 1.705vw), 1.563rem);
		width: clamp(1.25rem, calc(0.909rem + 1.705vw), 1.563rem);
		transform: translateY(-50%);
	}
}

.menu__link {
	font-size: clamp(var(--fs-md), calc(0.989rem + 0.682vw), var(--fs-lg));
}

.menu,
.btn {
	-webkit-tap-highlight-color: transparent;
}

.navigation {
	margin-bottom: calc(var(--space-xl) * 2);

	& .menu:nth-child(1)::before {
		background-image: url("../img/home.svg");
	}

	& .menu:nth-child(2)::before {
		background-image: url("../img/profile.svg");
	}

	& .menu:nth-child(3)::before {
		background-image: url("../img/messages.svg");
	}

	& .menu:nth-child(4)::before {
		background-image: url("../img/history.svg");
	}

	& .menu:nth-child(5)::before {
		background-image: url("../img/tasks.svg");
	}

	& .menu:nth-child(6)::before {
		background-image: url("../img/communities.svg");
	}
}

.permission {
	& .menu:nth-child(1)::before {
		background-image: url("../img/settings.svg");
	}

	& .menu:nth-child(2)::before {
		background-image: url("../img/support.svg");
	}

	& .menu:nth-child(3)::before {
		background-image: url("../img/privacy.svg");
	}
}
