@import "reset.css";

body {
	position: relative;
	background-color: var(--clr-background);
	min-height: 100dvh;
	font: var(--fs-base) / 1.5 "Roboto", sans-serif;
	color: var(--clr-text-main);

	&.__open {
		overflow: hidden;
	}
}

.btn {
	font-size: 1rem;
}

.btn:focus-visible {
	outline: 1px solid var(--clr-primary);
}

/* ||ICONS */
.icons {
	display: flex;
	gap: var(--space-lg);
	justify-content: flex-end;
	margin-block-start: var(--space-xl);
}

.__icon {
	min-height: var(--space-lg);
	min-width: var(--space-lg);
}

/* ||Dashboard Menu Opener */
.square-container {
	display: grid;
	gap: var(--space-xs);
	grid-template-areas:
		"square_1 square_2"
		"square_1 square_2"
		"square_1 square_3"
		"square_4 square_3"
		"square_4 square_3"
	;
	height: var(--space-xl);
	width: var(--space-xl);
}

.square {
	background-color: var(--clr-surface);

	&:nth-child(1) {
		grid-area: square_1;
	}

	&:nth-child(2) {
		grid-area: square_2;
	}

&:nth-child(3) {
		grid-area: square_3;
	}

	&:nth-child(4) {
		grid-area: square_4;
	}
}

/* ||SIDEBAR */
.sidebar-opener {
	position: relative;
	z-index: 99;
	background-color: var(--clr-primary);
	height: calc(var(--space-xl) * 2);
	padding: var(--space-md);
}

.sidebar {
	position: absolute;
	z-index: 9;
	background-color: var(--clr-primary);
	height: 100dvh;
	padding-block: calc(var(--space-xl) * 1.15) 0;
	padding-inline: var(--space-lg);
	width: 100%;
	transform: translateY(-100%);
	visibility: hidden;
	will-change: transform, visibility;
	transition: all 0.5s ease-in;

	&.__open {
		transform: translateY(0);
		visibility: visible;
	}
}

.menu__link {
	color: var(--clr-text-light);
	font-weight: bold;
}

.dashboard {
	display: flex;
	align-items: center;
	gap: var(--space-md);

	&:focus-visible {
		outline: 1px dashed var(--clr-surface);
		outline-offset: var(--space-xs);
	}

	& .__title {
	color: var(--clr-text-light);
	font-size: clamp(var(--fs-md), calc(0.898rem + 1.136vw), var(--fs-xl));
	user-select: none;
	cursor: pointer;
}
}

.menu {
	position: relative;
	padding-block: 0.25rem;
	padding-inline: calc(var(--space-xl) * 1.5) 0;
	user-select: none;
	cursor: pointer;

	&:not(:last-child) {
		margin-block-end: var(--space-sm);
	}

	&::before {
		content: "";
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 50%;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 95%;
		height: clamp(1.25rem, calc(0.909rem + 1.705vw), 1.563rem);
		width: clamp(1.25rem, calc(0.909rem + 1.705vw), 1.563rem);
		transform: translateY(-50%);
	}

	& .__link {
		color: var(--clr-text-light);
		font-size: clamp(var(--fs-md), calc(0.989rem + 0.682vw), var(--fs-lg));
	}
}



.menu,
.btn {
	-webkit-tap-highlight-color: transparent;
}

.navigation {
	margin-block-end: calc(var(--space-xl) * 1.15);

	& .menu:nth-child(1)::before {
		background-image: url("../img/home.svg");
	}

	& .menu:nth-child(2)::before {
		background-image: url("../img/profile.svg");
	}

	& .menu:nth-child(3)::before {
		background-image: url("../img/messages.svg");
	}

	& .menu:nth-child(4)::before {
		background-image: url("../img/history.svg");
	}

	& .menu:nth-child(5)::before {
		background-image: url("../img/tasks.svg");
	}

	& .menu:nth-child(6)::before {
		background-image: url("../img/communities.svg");
	}
}

.permission {
	& .menu:nth-child(1)::before {
		background-image: url("../img/settings.svg");
	}

	& .menu:nth-child(2)::before {
		background-image: url("../img/support.svg");
	}

	& .menu:nth-child(3)::before {
		background-image: url("../img/privacy.svg");
	}
}

/* ||HEADER */
.header-container {
	background-color: var(--clr-surface);
	border-end-end-radius: var(--radius-sm);
	border-end-start-radius: var(--radius-sm);
	margin-block: var(--space-lg) var(--space-xl);
	padding: var(--space-lg);
	box-shadow: var(--shadow-card);
}

.search {
	margin-block-end: var(--space-xl);
	& .__container {
		position: relative;
		display: flex;
		align-items: center;
		gap: var(--space-sm);
	}

	& .__btn:focus-visible {
		border-radius: 50%;
		outline: 1px dashed var(--clr-primary);
		outline-offset: var(--space-xs);
	}

	& .__delete {
		position: absolute;
		inset-inline-end: 0;
		inset-block-start: 50%;
		margin-inline-end: var(--space-md);
		opacity: 0;
		transform: translateY(-50%);
		will-change: opacity;
		transition: opacity 0.2s ease-in;
	}

	& .__delete:focus-visible {
		border-radius: 50%;
		opacity: 1;
		outline: 1px dashed var(--clr-primary);
		outline-offset: var(--space-xs);
	}

	& .__box {
		background-color: var(--clr-search-bg);
		border: none;
		border-radius: 3.13rem;
		padding-block: var(--space-sm);
		padding-inline: var(--space-md) calc(var(--space-xl) * 1.25);
		width: 100%;
		font: var(--fs-base) / 0.5rem "Roboto", sans-serif;
	}

	& .__box::-webkit-search-cancel-button {
		display: none;
	}

	& .__box:focus-visible {
		outline: 1px solid var(--clr-primary);
	}

	& .__visible {
		opacity: 1;
	}
}

.notification {
	position: absolute;
	inset: auto;
}

.notification:focus-visible {
	border-radius: 50%;
	outline-offset: var(--space-xs);
	outline-style: dashed;
}

.profile {
	display: none;
}

.user {
	display: grid;
	gap: var(--space-md);
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	grid-template-columns: 1fr;
	justify-items: center;

	& .__picture {
		border-radius: 50%;
		height: calc(var(--space-xl) * 3);
		margin-block-end: var(--space-md);
		width: calc(var(--space-xl) * 3);
	}

	& .__greeting {
		margin-block-end: var(--space-md);
		line-height: 1.2;
	}

	& .__para,
	& .__name {
		text-align: center;
	}

	& .__name {
		margin-block-start: var(--space-md);
		font-size: clamp(1.50rem, calc(1.023rem + 2.386vw), 2.81rem);
	}

	& .__username {
		display: block;
		margin-block-start: var(--space-sm);
		font-size: clamp(0.88rem, calc(0.682rem + 0.966vw), 1.41rem);
	}

	& .__btn {
		justify-self: stretch;
		background-color: var(--clr-primary);
		border-radius: var(--radius-pill);
		margin-inline: auto;
		padding-block: 0.65em;
		width: min(50%, 13em);
		color: var(--clr-text-light);
		font-weight: bold;
	}

	& .__btn:focus-visible {
		outline-offset: var(--space-xs);
	}

	@media (hover: hover) {
	& .__btn:hover {
		background-color: #1992d4e2;
		}
	}

	& .__btn:active {
		background-color: #1575aa;
	}
}
.main-container {
	padding: var(--space-md);
}

/* ||PROJECTS */
.title {
	margin-block-end: var(--space-md);
	font-size: var(--fs-lg);
}

.projects {
	display: grid;
	gap: var(--space-md);
	overflow: hidden;

	/* !!TEST */
	max-height: calc(40em + var(--space-md));

	& .__title {
		font-size: var(--fs-md);
	}

	& .__introduction {
		color: var(--clr-text-muted);
	}

	& .__card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content repeat(2, 1fr);
		background-image:
			linear-gradient(
				to right,
				var(--clr-accent) 2%,
				var(--clr-surface) 2%
			);
		border-radius: var(--radius-sm);
		height: 20em;
		padding-block: var(--space-lg);
		padding-inline: var(--space-md);
	}

	& .__icon {
		align-self: end;
	}

	& .__icon:focus-visible {
		border-radius: 50%;
		outline-offset: var(--space-xs);
		outline-style: dashed;
	}
}

.show-more {
	display: block;
	background-color: var(--clr-primary);
	border-radius: var(--radius-sm);
	margin-block: var(--space-md);
	margin-inline: auto;
	padding-block: 0.75em;
	padding-inline: var(--space-xl);
	color: var(--clr-text-light);
}

.show-more:focus-visible {
	outline-offset: var(--space-xs);
}

@media (hover: hover) {
	.show-more:hover {
		background-color: #1992d4e2;
	}
}

.show-more:active {
	background-color: #1575aa;
}

/* ||UTILITIES */
.hidden {
	display: none;
}